*{
	margin: 0;
	padding:0;
}

ul {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

a{
	text-align: center;
	margin-right: 30px;
	margin-left: 10px;
}

nav {
	width: 100%;
  position: fixed;
  padding-bottom:5px ;
  top: 0;
  left: 0;
  background-color: gainsboro;
}

h1 {
  width: 100%;
  font-size: 40px;
  background: orange;
  text-align: center;
  line-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h3{
	margin-top: 70px;
	font-size: 40px;
	text-align: center;
	font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

div{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: max-content;
	text-align: center;
}

button{
	display: block;
	width: 10em;
  height:3em;
  margin-bottom: 30px;
}
.contact{
	margin-bottom: 30px;
}

.contactButton{
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
}

.left{
    text-align: left;
    }

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fadeRight{
animation-name:fadeRightAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeRightAnime{
  from {
    opacity: 0;
  transform: translateX(100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
}