<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Portfolio</title>
	<style>
	</style>
	<link rel ="stylesheet" href ="tttps://unpkg.com/ress/dist/ress.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<link rel ="stylesheet" href ="/css/home.css">
</head>

<body >
	
	<section id="home">
  <h1>Shunsuke Aoki</h1>
	</section>
  <section id="about">
  <h3>About this</h3>
  <div class="box fadeRight">
	  私の成長を記録しておくために作成したホームページです。
    <br>
	  つたない部分もあるとは思いますが、どうぞご覧ください。
	</div>
  </section>
	<section id="works">
  <h3>Works</h3>
  <div class="box fadeRight">
	<p class = "left">
  2024年からプログラミングの学習をはじめ、
  <br>
  今はJavaをメインに学習中です。
  </div>
  </p>
  </section>
  <section id="life">
  <h3>life</h3>
  <div class="box fadeRight">
  <p class = "left">
	  1998.5.5 誕生
		<br>
		2009.4 小学校 入学
		<br>
		2015.4 高校 入学
		<br>
		2018.3 大学 入学
		<br>
		2021.3 大学 工学部 電気・電子専攻 卒業
	  <br>
  </p>
  </div>
  </section>
  <section id="carrer">
  <h3>Carrer</h3>
  <div class="box fadeRight">
  <p class = "left">
	  
	  2021.4 メーカーに就職
  </p>
  </div>
  </section>
  <section id="contact" class ="contact">
  <h3>Contact</h3>
  <div class="box fadeRight">
  <p class = "left">
	  このサイト、私についてコメント、アドバイスなどありましたら以下の
	  <br>
	  "声をかける"ボタンよりご連絡ください。
	  <br>
	  最後までご覧いただきありがとうございます。
  </p>
  </div>
  </section>
  <button id = "contactButton" class = "contactButton" onclick="location.href='../form'">声をかける</button>
  <nav>
  	<ul id="page-link">
      <li><a href="#home">HOME</a></li>
      <li><a href="#about">About this</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#life">life</a></li>
      <li><a href="#carrer">Carrer</a></li>
      <li><a href="#contact">Contact</a></li>
  	</ul>
  </nav>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/home.js">
  </script>
</body>
</html>

